@import '../../scss/common.scss';

.side-bar {
	display: flex;
	align-items: center;
    justify-content: space-evenly;
	height: 50px;
	border-bottom: $border;

	@include breakpoint(medium) {
		display: block;
		height: unset;
		width: 20%;
		padding: $paddingSmall;
		padding-top: $paddingMedium;
		margin-left: $paddingMedium;
		border-bottom: none;
	}

	.side-item {
		display: inline-block;
	}

	.tags-container {
		display: flex;

		@include breakpoint(medium) {
			display: block;
			width: 100%;
			height: 200px;
		}

		.tag {
			display: block;
			margin-right: $paddingSmall;

			@include breakpoint(medium) {
				margin-bottom: $paddingSmall;
			}
		}
	}

	.svg {
		display: none;

		@include breakpoint(medium) {
			display: inline-block;
			margin-right: $paddingSmall;
		}
	}

	.tag-title {
		display: none;

		@include breakpoint(medium) {
			display: block;
			font-size: $fontSizeMedium;
		}
	}

	.inbox {
		margin-right: $paddingMedium;
	}

	.side-button {
		display: block;
		background-color: $white;
		font-size: $fontSizeStandard;
		text-align: center;

		@include breakpoint(medium) {
			height: 40px;
			width: 100%;
			text-align: left;
		}

		&:hover {
			background-color: $lightPink;
		}
	}

	.message-count {
		display: none;

		@include breakpoint(medium) {
			display: inline-block;
		}
	}
}